navigation-control([isShown]="true")

.container-fluid.well-no-gutter.hero
  img.expanded(src="http://placehold.it/1600x600/")
  .hero-content
    h1 Welcome to the styleguide
    p Lorem ipsum dolor sit amet, consectetur adip*isicing elit, sed do eiusmod *tempor incididunt ut labore et dolore magna aliqua.
    p &nbsp;
    a.btn.btn--primary(href="guide.html") Go to the guide
