main.container
  header
    h1.text-center Badges
  .row
    .col-xs-12
      h2 Colors
      p Badges should be used with&nbsp;
        code.code span
        | &nbsp;or&nbsp;
        code.code p
        | . Add class&nbsp;
        code.code .badge
        | &nbsp;and a color class:&nbsp;
        code.code .badge--primary
        | ,&nbsp;
        code.code .badge--secondary
        | ,&nbsp;
        code.code .badge--accessory
        | &nbsp;or&nbsp;
        code.code .badge--call-to-action
        | .

      .g-example
        span.badge.badge--primary Primary
        span.badge.badge--secondary Secondary
        span.badge.badge--accessory Accessory
        span.badge.badge--call-to-action Call to action

    .col-xs-12.col-sm-6
      h2 Sizes
      p For a large or small badge, add&nbsp;
        code.code .badge--large
        | &nbsp;or&nbsp;
        code.code .badge--small
        | .

      .g-example
        span.badge.badge--primary.badge--large Large
        span.badge.badge--accessory Default
        span.badge.badge--call-to-action.badge--small Small

    .col-xs-12.col-sm-6
      h2 Rounded
      p Use&nbsp;
        code.code .badge.badge--round
        | .

      .g-example
        span.badge.badge--round.badge--primary 1
        span.badge.badge--round.badge--accessory 20
        span.badge.badge--round.badge--call-to-action 300
