include guide-mixins

main.container
  header
    h1.text-center Carousel

  .row
    .col-xs-12
      h2 Tiles

  .row.no-gutter
    .col-xs-12
      ul.carousel
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Pellentesque eu imperdiet lorem. Sed elit est, suscipit id dolor in, facilisis molestie erat. Nullam convallis lacus metus, sed hendrerit tellus laoreet vel. Pellentesque eu imperdiet lorem. Sed elit est, suscipit id dolor in, facilisis molestie erat. Nullam convallis lacus metus, sed hendrerit tellus laoreet vel.
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
        li.carousel-item
          a.carousel-item-action
            +placeholder-tile()
            p.carousel-text Carregando...
