include guide-mixins

main.container
  header
    h1.text-center Important FE links

  .row
    .col-xs-12

      h2 CSS / HTML
      ul.u-lst
        li.u-lst-item Our conventions borrow a lot from&nbsp;
          a(href="https://smacss.com/", target="_blank") SMACSS
          |  style guide and from&nbsp;
          a(href="https://en.bem.info/methodology/", target="_blank") BEM
          |  methodology. Please, check them before creating new css styles;
        li.u-lst-item
          a(href="https://github.com/indigotech/angular-template/blob/develop/docs/code-conventions.md", target="_blank") Code conventions documentation
          | .

      h2 Angular 2
      ul.u-lst
        li.u-lst-item
          a(href="https://angular.io/docs/ts/latest/guide/style-guide.html", target="_blank") Angular 2 style guide
          | .
