main.container
  header
    h1.text-center Colors

  .row
    .col-xs-12
      h2.text-left Brand Colors

    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.brand-black
        label.text-white Black -&nbsp;
        code.code $color-black
    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.brand-blue
        label.text-white Blue -&nbsp;
        code.code $color-brand-blue
    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.brand-pink
        label.text-white Pink -&nbsp;
        code.code $color-brand-pink

  .row
    .col-xs-12
      h2.text-left System Colors

    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.primary
        label.text-white Primary -&nbsp;
        code.code $color-primary
      .g-widget-color.hover-primary
        label.text-white Hover
      .g-widget-color.highlighted-primary
        label.text-white Highlighted
      .g-widget-color.disabled-primary
        label.text-white Disabled

    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.secondary
        label.text-white Secondary -&nbsp;
        code.code $color-secondary
      .g-widget-color.hover-secondary
        label.text-white Hover
      .g-widget-color.highlighted-secondary
        label.text-white Highlighted
      .g-widget-color.disabled-secondary
        label.text-white Disabled

    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.accessory
        label.text-white Accessory -&nbsp;
        code.code $color-accessory
      .g-widget-color.hover-accessory
        label.text-white Hover
      .g-widget-color.highlighted-accessory
        label.text-white Highlighted
      .g-widget-color.disabled-accessory
        label.text-white Disabled

    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.call-to-action
        label.text-white Call to Action -&nbsp;
        code.code $color-call-to-action
      .g-widget-color.hover-call-to-action
        label.text-white Hover
      .g-widget-color.highlighted-call-to-action
        label.text-white Highlighted
      .g-widget-color.disabled-call-to-action
        label.text-white Disabled

    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.success
        label.text-white Success -&nbsp;
        code.code $color-success
      .g-widget-color.hover-success
        label.text-white Hover
      .g-widget-color.highlighted-success
        label.text-white Highlighted
      .g-widget-color.disabled-success
        label.text-white Disabled

    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.alert
        label.text-white Alert -&nbsp;
        code.code $color-alert
      .g-widget-color.hover-alert
        label.text-white Hover
      .g-widget-color.highlighted-alert
        label.text-white Highlighted
      .g-widget-color.disabled-alert
        label.text-white Disabled

    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.warning
        label.text-white Warning -&nbsp;
        code.code $color-warning
      .g-widget-color.hover-warning
        label.text-white Hover
      .g-widget-color.highlighted-warning
        label.text-white Highlighted
      .g-widget-color.disabled-warning
        label.text-white Disabled

    .col-xs-12.col-sm-6.col-lg-4
      .g-widget-color.info
        label.text-white Info -&nbsp;
        code.code $color-info
      .g-widget-color.hover-info
        label.text-white Hover
      .g-widget-color.highlighted-info
        label.text-white Highlighted
      .g-widget-color.disabled-info
        label.text-white Disabled

  .row
    .col-xs-12
      h2.text-left Shades of Gray

    .col-xs-12
      .g-widget-color.black
        label.text-white Black -&nbsp;
        code.code $color-black
      .g-widget-color.gray-xdark
        label.text-white Extra dark gray -&nbsp;
        code.code $color-gray-xdark
      .g-widget-color.gray-dark
        label.text-white Dark gray -&nbsp;
        code.code $color-gray-dark
      .g-widget-color.gray
        label Gray -&nbsp;
        code.code $color-gray
      .g-widget-color.gray-light
        label Light gray -&nbsp;
        code.code $color-gray-light
      .g-widget-color.gray-xlight
        label Extra light gray -&nbsp;
        code.code $color-gray-xlight
      .g-widget-color.white
        label White -&nbsp;
        code.code $color-white
