main.container
  header
    h1.text-center SVG animations

  .row
    .col-xs-12
      p Simple SVG icons animated using&nbsp;
        code.code Snap.svg
        | &nbsp;and triggered with a click. The attributes that can be animated include&nbsp;
        span.bold rotation, translation, color, stroke, opacity
        | , etc.

    .col-xs-6.col-md-3
      svg-trash-animation
    .col-xs-6.col-md-3
      svg-cart-animation

    .col-xs-12
      h2 SVG tests
      p A directive with a grid to test SVG animations.

      .col-xs-6.col-md-3
        svg-animation-tests
