main.container
  header
    h1.text-center Toggle Switch
    .row
      .col-xs-12
        h2 Description
        ul.u-lst
          li.u-lst-item
            span Please read this implementation on&nbsp;
              a(href="https://www.w3schools.com/howto/howto_css_switch.asp", target="_blank")  W3 Toggle Switch
          li.u-lst-item
            span You have to use both the&nbsp;
              code.code label, input, div.slider
          li.u-lst-item
            span To customize it, edit the following file&nbsp;
              code.code toggle-switch.styl
  .g-example
    .row
      .col-xs-6.text-center
        h3 Toggle Switch Default
        label.toggle-switch
          input.toggle-switch-checkbox(type="checkbox")
          span.toggle-switch-slider

      .col-xs-6.text-center
        h3 Toggle Switch Rounded
        label.toggle-switch.toggle-switch--rounded
          input.toggle-switch-checkbox(type="checkbox")
          span.toggle-switch-slider
