main.container
  header
    h1.text-center Typography

  section
    .row
      .col-xs-12
        h2 Titles

        .g-example
          h1 h1. Template heading
          p Generally, this style is used for navbar and page titles
        .g-example
          h2 h2. Template heading
          p This style is usually used for main section breaks (e.g. home screen) and product name (in product details page).
        .g-example
          h3 h3. Template heading
          p Conventionally, it's used for list items
        .g-example
          h4 h4. Template heading
          h4.sub h4.sub. This is usually used for general listings (e.g. review titles, product listing)

  section
    .row
      .col-xs-12
        h2 Body
        .g-example
          p p. Body paragraph
          p.caption p. Caption paragraph

  section
    .row
      .col-xs-12
        h2 Alignment classes

        p Add class&nbsp;
          code.code .text-left
          |,&nbsp;
          code.code .text-center
          |,&nbsp;
          code.code .text-right
          |,&nbsp;
          code.code .text-justify
          |,&nbsp;
          code.code .text-nowrap

        .g-example
          p.text-left Left aligned text.
          p.text-center Center aligned text.
          p.text-right Right aligned text.
          p.text-justify Justified text.
          p.text-nowrap No wrap text.

  section
    .row
      .col-xs-12
        h2 Transformation classes
        p Add class&nbsp;
          code.code .text-lowercase
          |,&nbsp;
          code.code .text-uppercase
          |,&nbsp;
          code.code .text-capitalize

        .g-example
          p.text-lowercase lowercase text.
          p.text-uppercase uppercase text.
          p.text-capitalize capitalize text.

  section
    .row
      .col-xs-12
        h2 Contextual classes
        p Add class&nbsp;
          code.code .text-primary
          |,&nbsp;
          code.code .text-secondary
          |,&nbsp;
          code.code .text-accessory
          |,&nbsp;
          code.code .text-success
          |,&nbsp;
          code.code .text-warning
          |,&nbsp;
          code.code .text-alert
          |,&nbsp;
          code.code .text-neutral

        .g-example
          p.text-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          p.text-secondary Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          p.text-accessory Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          p.text-success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          p.text-warning Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          p.text-alert Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          p.text-call-to-action Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          p.text-neutral Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  section
    .row
      .col-xs-12.col-sm-6
        h2 Size
        p Just for consulting.
        .g-example
          p.p__g-xlarge Text xlarge
          p.p__g-large Text large
          p.p__g-medium Text medium
          p.p__g-small Text small
          p.p__g-xsmall Text xsmall

      .col-xs-12.col-sm-6
        h2 Weight
        p Just for consulting.
        .g-example
          p.p__g-bold Text bold
          p.p__g-medium Text medium
          p.p__g-regular Text regular
          p.p__g-lighter Text lighter
