.autocomplete
  position: relative
  margin-bottom: $spacement-xsmall

.autocomplete-list
  position: absolute
  right: 0
  left: 0
  z-index: 1

  max-height: 300px
  overflow-x: hidden
  overflow-y: scroll
