ic-small()
  max-width: $icon-size-small
  font-size: $icon-size-small

ic-medium()
  max-width: $icon-size-medium
  font-size: $icon-size-medium

ic-large()
  max-width: $icon-size-large
  font-size: $icon-size-large

//
// Custom icons font
// --------------------------------------------------
.ic
  display: inline-block
  ic-medium()
  font-family: $icon-font-family
  line-height: 1
  vertical-align: middle
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transition(font-size 0.2s ease-in-out)

//
// Variables
// --------------------------------------------------
$ic-2credit-cards = "\E001"
$ic-add = "\E002"
$ic-billing = "\E003"
$ic-broken-desktop = "\E004"
$ic-broken-mobile = "\E005"
$ic-broken-tablet = "\E006"
$ic-broken-wide-desktop = "\E007"
$ic-bullet = "\E008"
$ic-cart = "\E009"
$ic-check = "\E00A"
$ic-chevron-down = "\E00B"
$ic-chevron-left = "\E00C"
$ic-chevron-right = "\E00D"
$ic-chevron-up = "\E00E"
$ic-circle-alert = "\E00F"
$ic-circle-learn-more = "\E010"
$ic-circle-questions = "\E011"
$ic-circle-success = "\E012"
$ic-credit-card = "\E013"
$ic-delivery-moving = "\E014"
$ic-delivery-pickup = "\E015"
$ic-delivery-regular = "\E016"
$ic-delivery-schedule = "\E017"
$ic-delivery = "\E018"
$ic-discount = "\E019"
$ic-exclamation = "\E01A"
$ic-exit = "\E01B"
$ic-exp-delivery = "\E01C"
$ic-eye-closed = "\E01D"
$ic-eye-open = "\E01E"
$ic-gift = "\E01F"
$ic-home = "\E020"
$ic-imported = "\E021"
$ic-lock = "\E022"
$ic-menu = "\E023"
$ic-orders = "\E024"
$ic-payment-paypal = "\E025"
$ic-phone = "\E026"
$ic-pin = "\E027"
$ic-review-checkout = "\E028"
$ic-s-facebook = "\E029"
$ic-s-google = "\E02A"
$ic-s-mail = "\E02B"
$ic-s-twitter = "\E02C"
$ic-s-whatsapp = "\E02D"
$ic-s-youtube = "\E02E"
$ic-sales-trophy = "\E02F"
$ic-search = "\E030"
$ic-star-empty = "\E031"
$ic-star-half = "\E032"
$ic-star = "\E033"
$ic-stores = "\E034"
$ic-trash = "\E035"
$ic-view-grid = "\E036"
$ic-view-list = "\E037"
$ic-view-tile = "\E038"
$ic-warranty = "\E039"


//
// Icons
// --------------------------------------------------
.ic-2credit-cards:before { content: $ic-2credit-cards }
.ic-add:before { content: $ic-add }
.ic-billing:before { content: $ic-billing }
.ic-broken-desktop:before { content: $ic-broken-desktop }
.ic-broken-mobile:before { content: $ic-broken-mobile }
.ic-broken-tablet:before { content: $ic-broken-tablet }
.ic-broken-wide-desktop:before { content: $ic-broken-wide-desktop }
.ic-bullet:before { content: $ic-bullet }
.ic-cart:before { content: $ic-cart }
.ic-check:before { content: $ic-check }
.ic-chevron-down:before { content: $ic-chevron-down }
.ic-chevron-left:before { content: $ic-chevron-left }
.ic-chevron-right:before { content: $ic-chevron-right }
.ic-chevron-up:before { content: $ic-chevron-up }
.ic-circle-alert:before { content: $ic-circle-alert }
.ic-circle-learn-more:before { content: $ic-circle-learn-more }
.ic-circle-questions:before { content: $ic-circle-questions }
.ic-circle-success:before { content: $ic-circle-success }
.ic-credit-card:before { content: $ic-credit-card }
.ic-delivery-moving:before { content: $ic-delivery-moving }
.ic-delivery-pickup:before { content: $ic-delivery-pickup }
.ic-delivery-regular:before { content: $ic-delivery-regular }
.ic-delivery-schedule:before { content: $ic-delivery-schedule }
.ic-delivery:before { content: $ic-delivery }
.ic-discount:before { content: $ic-discount }
.ic-exclamation:before { content: $ic-exclamation }
.ic-exit:before { content: $ic-exit }
.ic-exp-delivery:before { content: $ic-exp-delivery }
.ic-eye-closed:before { content: $ic-eye-closed }
.ic-eye-open:before { content: $ic-eye-open }
.ic-gift:before { content: $ic-gift }
.ic-home:before { content: $ic-home }
.ic-imported:before { content: $ic-imported }
.ic-lock:before { content: $ic-lock }
.ic-menu:before { content: $ic-menu }
.ic-orders:before { content: $ic-orders }
.ic-payment-paypal:before { content: $ic-payment-paypal }
.ic-phone:before { content: $ic-phone }
.ic-pin:before { content: $ic-pin }
.ic-review-checkout:before { content: $ic-review-checkout }
.ic-s-facebook:before { content: $ic-s-facebook }
.ic-s-google:before { content: $ic-s-google }
.ic-s-mail:before { content: $ic-s-mail }
.ic-s-twitter:before { content: $ic-s-twitter }
.ic-s-whatsapp:before { content: $ic-s-whatsapp }
.ic-s-youtube:before { content: $ic-s-youtube }
.ic-sales-trophy:before { content: $ic-sales-trophy }
.ic-search:before { content: $ic-search }
.ic-star-empty:before { content: $ic-star-empty }
.ic-star-half:before { content: $ic-star-half }
.ic-star:before { content: $ic-star }
.ic-stores:before { content: $ic-stores }
.ic-trash:before { content: $ic-trash }
.ic-view-grid:before { content: $ic-view-grid }
.ic-view-list:before { content: $ic-view-list }
.ic-view-tile:before { content: $ic-view-tile }
.ic-warranty:before { content: $ic-warranty }
