// Material icons. Available at
// http://google.github.io/material-design-icons/

.mi
  display: inline-block
  max-width: $icon-size-medium // safari fix
  font-family: $icon-material
  font-size: $icon-size-medium /* Preferred icon size: 24px */
  font-style: normal
  font-weight: normal
  letter-spacing: normal
  line-height: 1
  text-transform: none
  vertical-align: middle
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  transition(font-size 0.2s ease-in-out)

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'


// Material icons
// OBS: Not all material-icons classes were created
.mi-account-circle:before
  content: 'account_circle'

.mi-add:before
  content: 'add'

.mi-arrow-drop-down:before
  content: 'arrow_drop_down'

.mi-arrow-drop-down-circle:before
  content: 'arrow_drop_down_circle'

.mi-arrow-drop-up:before
  content: 'arrow_drop_up'

.mi-attach-money:before
  content: 'attach_money'

.mi-autorenew:before
  content: 'autorenew'

.mi-block:before
  content: 'block'

.mi-build:before
  content: 'build'

.mi-chat-bubble:before
  content: 'chat_bubble'

.mi-check:before
  content: 'check'

.mi-check-circle:before
  content: 'check_circle'

.mi-cancel:before
  content: 'cancel'

.mi-clear:before
  content: 'clear'

.mi-credit-card:before
  content: 'credit_card'

.mi-delete:before
  content: 'delete'

.mi-directions-bus:before
  content: 'directions_bus'

.mi-edit:before
  content: 'edit'

.mi-equalizer:before
  content: 'equalizer'

.mi-error:before
  content: 'error'

.mi-favorite:before
  content: 'favorite'

.mi-file-download:before
  content: 'file_download'

.mi-file-upload:before
  content: 'file_upload'

.mi-grade:before
  content: 'grade'

.mi-group:before
  content: 'group'

.mi-help:before
  content: 'help'

.mi-home:before
  content: 'home'

.mi-info:before
  content: 'info'

.mi-insert-invitation:before
  content: 'insert_invitation'

.mi-keyboard-arrow-down:before
  content: 'keyboard_arrow_down'

.mi-keyboard-arrow-left:before
  content: 'keyboard_arrow_left'

.mi-keyboard-arrow-right:before
  content: 'keyboard_arrow_right'

.mi-linear-scale:before
  content: 'linear_scale'

.mi-link:before
  content: 'link'

.mi-list:before
  content: 'list'

.mi-local-offer:before
  content: 'local_offer'

.mi-lock:before
  content: 'lock'

.mi-mail:before
  content: 'mail'

.mi-menu:before
  content: 'menu'

.mi-monetization-on:before
  content: 'monetization_on'

.mi-multiline-chart:before
  content: 'multiline_chart'

.mi-new-releases:before
  content: 'new_releases'

.mi-people:before
  content: 'people'

.mi-person:before
  content: 'person'

.mi-person-pin:before
  content: 'person_pin'

.mi-pie-chart:before
  content: 'pie_chart'

.mi-public:before
  content: 'public'

.mi-receipt:before
  content: 'receipt'

.mi-remove-circle:before
  content: 'remove_circle'

.mi-repeat:before
  content: 'repeat'

.mi-search:before
  content: 'search'

.mi-share:before
  content: 'share'

.mi-shopping-basket:before
  content: 'shopping_basket'

.mi-star:before
  content: 'star'

.mi-star-outline:before
  content: 'star_outline'

.mi-stars:before
  content: 'stars'

.mi-swap-horiz:before
  content: 'swap_horiz'

.mi-swap-vert:before
  content: 'swap_vert'

.mi-trending-up:before
  content: 'trending_up'

.mi-vpn-key:before
  content: 'vpn_key'

.mi-warning:before
  content: 'warning'

.mi-watch-later:before
  content: 'watch_later'
