.well
  margin-top: $spacement-large

  width: 100%
  padding: $half-gutter
  background-color: $color-gray-xlight
  border: $default-border
  border-radius: $default-border-radius

.well--white
  background-color: $color-white

.well--no-gutter
  padding: 0
