// Variables and mixins

@import 'core/variables'
@import 'core/mixins/clearfix.styl'
@import 'core/mixins/percentage.styl'
@import 'core/mixins/grid.styl'
@import 'core/mixins/grid-framework.styl'
@import 'core/mixins/placeholder'
@import 'core/mixins/triangle'
@import 'core/mixins/vendor-prefixes'
@import 'core/mixins/ellipsis'
@import 'core/mixins/margin'

// Functions
@import 'core/functions'

// Core CSS
@import 'core/reset'
@import 'core/utilities'
@import 'core/fonts'
@import 'core/grid'
@import 'core/responsive-utilities'
@import 'core/spacement'

// Functions
@import 'core/functions'

// Guide Components
@import 'components/guide/icons'
@import 'components/guide/font-awesome'
@import 'components/guide/material-icons'
@import 'components/guide/icons-animated'
@import 'components/guide/titles' // must be listed before lists
@import 'components/guide/accordion'
@import 'components/guide/autocomplete'
@import 'components/guide/badge'
@import 'components/guide/buttons'
@import 'components/guide/button-loading'
@import 'components/guide/callout'
@import 'components/guide/carousel'
@import 'components/guide/datepicker'
@import 'components/guide/dropdown'
@import 'components/guide/exception'
@import 'components/guide/form'
@import 'components/guide/form-inline'
@import 'components/guide/fullscreen'
@import 'components/guide/image-zoom'
@import 'components/guide/input-float-label'
@import 'components/guide/lists'
@import 'components/guide/loading'
@import 'components/guide/menu'    // must be listed before navbar
@import 'components/guide/overlay' // must be listed before modal
@import 'components/guide/modal'   // must be listed before container
@import 'components/guide/navbar'
@import 'components/guide/notification'
@import 'components/guide/orbit'
@import 'components/guide/pagination'
@import 'components/guide/progress'
@import 'components/guide/ratings'
@import 'components/guide/reviews'
@import 'components/guide/spinner'
@import 'components/guide/stepper'
@import 'components/guide/table'
@import 'components/guide/tabs'
@import 'components/guide/text'
@import 'components/guide/thumbnail'
@import 'components/guide/toggle-switch'
@import 'components/guide/u-list'
@import 'components/guide/well'


// Custom Components
@import 'components/custom/container'
@import 'components/custom/footer'
@import 'components/custom/hero'
@import 'components/custom/placeholder'
@import 'components/custom/input-image'
