main.container
  header
    h1.text-center Form sample

  .row
    .col-xs-12
      p All form samples are model-driven.

  .row
    .col-xs-12
      h2 User
      p Form using &nbsp;
        code.code tq-input-base
        | .
      tq-user-form

  .row
    .col-xs-12
      h2 Address
      p Form using &nbsp;
        code.code tq-input-erasable
        | .

      tq-address-form

  .row
    .col-xs-12
      h2 Credit card
      p Form using &nbsp;
        code.code tq-input-base
        | .

      tq-card-form
