//
// Adding masks to colors
//
highlightColorDark(color)
  blend($color-mask-highlight-dark, color)

highlightColorLight(color)
  blend($color-mask-highlight-light, color)

highlightColorXLight(color)
  blend($color-mask-highlight-xlight, color)

disabledColor(color)
  blend($color-mask-disable, color)

highlightColorHover(color)
  blend($color-mask-highlight-hover, color)
