//
// Utility classes
// --------------------------------------------------

// Expanded

.expanded
  width: 100%

// Centering a block

.center-horizontally-block
  margin-right: auto
  margin-left: auto

// Floats
// -------------------------

.clearfix
  clearfix()

.center-block
  center-block()

.pull-right
  float: right !important // @stylint ignore

.pull-left
  float: left !important // @stylint ignore

// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden
  display: none !important // @stylint ignore

// For Affix plugin
// -------------------------

.affix
  position: fixed

// Text Position
// -------------------------

.text-center-middle
  flex()
  align-items(center)
  justify-content(center)

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify

.text-nowrap
  white-space: nowrap

.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

// Position
// -------------------------

.relative
  position: relative

// Images
// -------------------------

.img-half
  width: 50%
  height: auto
  vertical-align: middle

.img-expanded
  width: 100%
  height: auto
  vertical-align: middle

// Divisor
// -------------------------
.divisor
  width: 100%
  height: 0
  border-bottom: $default-border
