//
// Variables
// --------------------------------------------------

//
// Font Variables
// --------------------------------------------------

// Font sizes
// Default: mobile
$font-base               = 8px
// $font-base-desktop       = 8px // uncomment code at text.styl to use this

$font-size-xlarge        = 3rem
$font-size-large         = 2.5rem
$font-size-medium        = 2rem
$font-size-small         = 14px
$font-size-xsmall        = 10px

$icon-size-small         = 16px
$icon-size-medium        = 20px
$icon-size-large         = 24px

// Font families
$font-family-primary     = -apple-system, Helvetica, Arial, sans-serif
$icon-font-family        = "AppIcons"
$icon-fontawesome        = "FontAwesome"
$icon-material           = "MaterialIcons"

// Font weight
$font-weight-lighter     = lighter
$font-weight-regular     = normal
$font-weight-medium      = 500
$font-weight-bold        = bold

// Letter spacing
$letter-spacing-large    = 0.05rem
$letter-spacing-xlarge   = 0.1rem

//
// Color Variables
// --------------------------------------------------

// Shades of gray
$color-gray-xdark             = #555555
$color-gray-dark              = #757575
$color-gray                   = #BDBDBD
$color-gray-light             = #EBEBEB
$color-gray-xlight            = #F8F8F8
$color-white                  = #FFFFFF
$color-black                  = #000000
$color-transparent            = rgba(255, 255, 255, 0)

// Collor Pallete
$color-brand-blue             = #16AAE4
$color-brand-pink             = #FF388B
$color-brand-green            = #1ABC9C

$color-brand-alert            = #DC2729
$color-brand-success          = $color-brand-green
$color-brand-warning          = #F5A623

// System colors
$color-primary                = $color-black
$color-secondary              = $color-brand-blue
$color-accessory              = $color-brand-blue
$color-alert                  = $color-brand-alert
$color-info                   = $color-accessory
$color-success                = $color-brand-success
$color-warning                = $color-brand-warning
$color-call-to-action         = $color-brand-pink

// Masks
$color-mask-highlight-dark    = rgba(#000, 0.1)
$color-mask-highlight-light   = rgba(#FFF, 0.5)
$color-mask-highlight-xlight  = rgba(#FFF, 0.9)
$color-mask-highlight-hover   = rgba(#000, 0.05)
$color-mask-disable           = rgba(#FFF, 0.4)

$overlay-opacity              = 0.5

//
// Layout
// --------------------------------------------------


// Margins
// Use make-components-{margin|padding} for responsive margins.
// Or use $spacement-{size} for a simple values.
// ** NEVER USE $space-{size} VARIABLES TO SETUP A CSS CLASS **

$space-base-xs      = 8px
$space-base-sm      = 8px
$space-base-md      = 8px
$space-base-lg      = 10px

$space-xlarge       = 6
$space-large        = 4
$space-medium       = 3
$space-small        = 2
$space-xsmall       = 1

$baseline           = $space-base-xs

$spacement-xlarge   = $baseline * $space-xlarge
$spacement-large    = $baseline * $space-large
$spacement-medium   = $baseline * $space-medium
$spacement-small    = $baseline * $space-small
$spacement-xsmall   = $baseline * $space-xsmall

// Borders
$default-border               = 1px solid $color-gray-light
$default-border-radius        = 2px

// Transition
$animation-duration           = 0.3s
