doctype html

form.row.container-gray([formGroup]="form", (ngSubmit)="onSubmit(form)", novalidate)
  .col-xs-12
    .container-margin.container-margin-right
      h3 Esqueci minha senha

    tq-notification([name]="notificationName")

    .form-control([class.has-error]="(submitted || form.controls.emailField.touched) && !form.controls.emailField.valid")
      tq-input-base(formControlName="emailField", [inputId]="'emailInput'", [label]="'E-mail *'", [type]="'email'")
      p.caption.input-caption(@scaleUp, *ngIf="(submitted || form.controls.emailField.touched) && form.controls.emailField.errors")
        span(*ngIf="form.controls.emailField.hasError('required')") O e-mail é obrigatório.
        span(*ngIf="form.controls.emailField.hasError('emailPattern')") O e-mail deve estar no formato xxx@xxx.xxx.
        span(*ngIf="form.controls.emailField.hasError('maxlength')") O e-mail deve ter no máximo {{ lengthMaxEmail }} caracteres.

    .container-margin-bottom
      tq-button-loading([classes]="'btn--primary btn--block'", [isLoading]="isBtnLoading")
        span Enviar
