doctype html

navigation-control([isShown]="true")
main.container
  .row
    .col-xs-12
      tq-notification([name]="notificationName")

    .col-xs-12
      h1 Editar senha

      .well
        form.row([formGroup]="form", (ngSubmit)="onSubmit(form)", novalidate)
          .col-xs-12
            .form-control([class.has-error]="(submitted || passwordField.touched) && !passwordField.valid")
              label.input-label Senha atual *
              .input-container
                input(type="password", id="passwordInput", formControlName="passwordField")
              p.caption.input-caption(@scaleUp, *ngIf="(submitted || passwordField.touched) && passwordField.errors")
                span(*ngIf="passwordField.hasError('required')") A senha atual é obrigatória.
                span(*ngIf="passwordField.hasError('minlength')") A senha atual tem no mínimo {{ lengthMinPassword }} caracteres.
                span(*ngIf="passwordField.hasError('maxlength')") A senha atual tem no máximo {{ lengthMaxPassword }} caracteres.

            .form-control([class.has-error]="(submitted || newPasswordField.touched) && !newPasswordField.valid")
              label.input-label Nova senha *
              .input-container
                input(type="password", id="newPasswordInput", formControlName="newPasswordField")
              p.caption.input-caption(@scaleUp, *ngIf="(submitted || newPasswordField.touched) && newPasswordField.errors")
                span(*ngIf="newPasswordField.hasError('required')") A nova senha é obrigatória.
                span(*ngIf="newPasswordField.hasError('minlength')") A nova senha deve ter no mínimo {{ lengthMinPassword }} caracteres.
                span(*ngIf="newPasswordField.hasError('maxlength')") A nova senha deve ter no máximo {{ lengthMaxPassword }} caracteres.

            .form-control([class.has-error]="(submitted || confirmPasswordField.touched) && !confirmPasswordField.valid")
              label.input-label Confirmar nova senha *
              .input-container
                input(type="password", id="confirmPasswordInput", formControlName="confirmPasswordField")
              p.caption.input-caption(@scaleUp, *ngIf="(submitted || confirmPasswordField.touched) && confirmPasswordField.errors")
                span(*ngIf="confirmPasswordField.hasError('required')") A nova senha é obrigatória. &nbsp;
                span(*ngIf="confirmPasswordField.hasError('minlength')") A nova senha deve ter no mínimo {{ lengthMinPassword }} caracteres. &nbsp;
                span(*ngIf="confirmPasswordField.hasError('maxlength')") A nova senha deve ter no máximo {{ lengthMaxPassword }} caracteres. &nbsp;
                span(*ngIf="confirmPasswordField.hasError('isNotEqual')") Confirmação de senha diferente do campo nova senha.

          .col-xs-12
            tq-button-loading([classes]="'btn--primary btn--block'", [isLoading]="isBtnLoading")
              span Editar
