$margin-default = $spacement-small

.container-margin
  margin-top: $margin-default
  margin-bottom: $margin-default

.container-margin-top
  margin-top: $margin-default

.container-margin-bottom
  margin-bottom: $margin-default

.container-margin-left
  margin-left: $margin-default

.container-margin-right
  margin-right: $margin-default

.container-padding
  padding: $margin-default

// Colors

.container-gray
  background-color: $color-gray-xlight
