<!DOCTYPE html>
<html lang="">
<head>

  <title><%= htmlWebpackPlugin.options.metadata.title %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="version" content="<%= htmlWebpackPlugin.options.metadata.version %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.title %>">

  <!-- use https://realfavicongenerator.net/ to replace files in assets/icons-->
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/icons/manifest.json">
  <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/assets/icons/favicon.ico">
  <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- end favicon -->

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body ontouchstart="">

  <app>
    Loading...
  </app>


  <script src="./assets/js/chart.bundle.min.js"></script>
  <script src="./assets/js/vanilla-masker.min.js"></script>

</body>
</html>
