.img-zoom-container
  img.img-expanded(img-zoom-gestures, src="{{imgSrc}}", (panStartGesture)="doPanStartGesture($event)", (panGesture)="doPanGesture($event)", (panEndGesture)="doPanEndGesture($event)", (pinchStartGesture)="doPinchStartGesture($event)", (pinchGesture)="doPinchGesture($event)", (pinchEndGesture)="doPinchEndGesture($event)", (doubleTapGesture)="doDoubleTapGesture($event)")
